@import "../../styles/variables.scss";
$maxWidthCard: 500px;
.home-page {
    @extend .app-bg;
    @extend .app-container;
    .ml {
        margin-left: 20px;
    }
    .spacer {
        margin: 10px 0;
    }
    h2 {
        margin-top: 0;
    }
    .card {
        position: relative;
        z-index: 1;
        background: #fff;
        max-width: $maxWidthCard;
        margin: 8% auto 50px;
        padding: 45px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    .token-verify {
        text-align: center;
        margin: 34px 0 0;
    }
    .msg {
        max-width: $maxWidthCard;
        margin: 0 auto;
    }
}